<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<div>
<div class="corpo" layout:fragment="corpo">

    <div class="bg-primary">
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-5">
                            <div class="card shadow-lg border-0 rounded-lg mt-5">
                                <div class="card-header">
                                    <h3 class="text-center font-weight-light my-4">SISTEMA <i class="fas fa-users"></i> LOGIN</h3>

                                <div class="card-body">
                                    <form th:action="@{/login}" method="post" autocomplete="off">
                                        <div class="form-floating mb-3">
                                            <input class="form-control" name="username" id="username" type="email" placeholder="name@example.com" />
                                            <label for="username">Email address</label>
                                        </div>
                                        <div class="form-floating mb-3">
                                            <input class="form-control"  name="password" id="password" type="password" placeholder="Password" />
                                            <label for="password">Password</label>
                                        </div>
                                        <div class="form-check mb-3">
                                            <input class="form-check-input" id="inputRememberPassword" type="checkbox" value="" />
                                            <label class="form-check-label" for="inputRememberPassword">Remember Password</label>
                                        </div>
                                        <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                                            <a class="small" href="#" id="senha">Esqueceu da senha?</a>
                                            <button type="submit" class="btn btn-primary">Login</button>
                                        </div>
                                    </form>
                                </div>
                                <div class="card-footer text-center py-3">
                                    <div class="small"><a href="register.html">Need an account? Sign up!</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>

    </div>

    </div>



    <script th:src="@{/js/login.js}" th:fragment="js"></script>


</div>
</div>
</html>